* {font-family: Montserrat;}

/* ---------------------------------------------*/

.content {
    background-image: url('../img/map-bg-desk.webp');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    /* max-width: 1330px; */
    margin: 0 auto;
}

/* ---------------------------------------------*/

.page-path {
    width: 90%;
    margin: 0 auto;
    padding: 13px 0 16px 0;
    text-align: left;
    max-width: 1200px;
}
.page-path__link {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__link:last-child {
    text-decoration-line: underline;
}
.page-path__divider {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    font-family: none;
    font-weight: 600;
    margin: 0 3px;
}

/* ---------------------------------------------*/

.tags {
    width: 90%;
    margin: 20px auto 16px auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.sharp {
    font-weight: 600;
    font-size: 26px;
    line-height: 101%;
    margin-right: 5px;
}
.tags .item {
    max-width: 200px;
    height: 20px;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 3px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
}
.tags .item a {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    padding: 1px 4px;

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.tags .item.active {
    border: 1px solid #289648;
}
.tags .item.active a {
    font-weight: 600;
}
.tags .sus-points {
    font-weight: 500;
    font-size: 17px;
    line-height: 117%;
    margin-top: 3px;
}


/* ---------------------------------------------*/

.about {

}
.about .company {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.about .company .title {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
    text-align: center;
    text-transform: uppercase;
}
.about .company .slider {
    width: 100%;
    height: 360px;
    margin-top: 16px;
}
.about .company .desc {
    width: 80%;
    max-width: 1200px;
    margin: 12px auto 0 auto;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'case' on, 'cpsp' on;
}
.about .company .desc p {
    margin-top: 20px;
}

.about .product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    margin-top: 80px;
}
.about .product .title {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
    text-align: center;
    text-transform: uppercase;
}
.about .product .slider {
    width: 100%;
    height: 360px;
    margin-top: 16px;
}
.about .product .desc {
    width: 80%;
    max-width: 1200px;
    margin: 12px auto 0 auto;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'case' on, 'cpsp' on;
}
.about .product .desc p {
    margin-top: 20px;
}

.about .package {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    margin-top: 80px;
}
.about .package .title {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
    text-align: center;
    text-transform: uppercase;
}
.about .package .slider {
    width: 100%;
    height: 360px;
    margin-top: 16px;
}
.about .package .desc {
    width: 80%;
    max-width: 1200px;
    margin: 12px auto 0 auto;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'case' on, 'cpsp' on;
}
.about .package .desc p {
    margin-top: 20px;
}


.about .whereabout {
    margin-top: 80px;
}
.about .whereabout .title {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
    text-align: center;
    text-transform: uppercase;
}
.about .whereabout .map {
    width: 80%;
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 16px;
}
.about .whereabout .map iframe {
    width: 100%;
    height: 360px;
}
.about .whereabout .desc {
    width: 80%;
    max-width: 1200px;
    margin: 12px auto 0 auto;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'case' on, 'cpsp' on;
}
.about .whereabout .desc p {
    margin-top: 20px;
}


.about .whereabout .address {
    text-align: center;
}
.about .whereabout .address .name {
    display: none;
    font-size: 17px;
    line-height: 117%;
}
.about .whereabout .address p {
    font-size: 15px;
    line-height: 117%;
    margin: 12px 0;
}


/* ---------------------------------------------*/

.features {
    display: block;
    color: #000;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1200px;
}
.features__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0 55px 0;
}
.features__table {
    margin: 0 auto;
    display: block;
}
.features__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.features__item-img {
    display: block;
    width: 100px;
    height: 100px;
}
.features__item-img svg {
    width: inherit;
    height: inherit;
    display: block;
    margin: 0 auto;
}
svg.features-img-d {
    display: none;
}
.features__item-text {
    max-width: 650px; /* 880px */
}
.features__item-text-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    font-feature-settings: 'case' on, 'cpsp' on;
    position: absolute;
    left: 31%;
    top: 70px;

}
.features__item-text-description {
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    font-feature-settings: 'case' on, 'cpsp' on;
    
}


/* ---------------------------------------------*/

.clue {
    display: block;
    max-width: 1100px;
    margin: 90px auto 0 auto;
    height: 173px;
}
.clue-hr-m {
    width: 70%;
    border-color: #FFFFFF;
    opacity: 0.7;
    margin: 15px 0;
}
.clue-hr-d {
    display: none;
    width: 60%;
    opacity: 0.7;
}
.clue__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}
.clue__item {
    display: flex;
    align-items: center;
}
.clue__item-img {
    display: none;
}
.clue__item-link {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #EF861C;
}

/* ---------------------------------------------*/





















@media screen and (min-width: 740px) and (max-width: 999px) {



    .features__item-img {
        width: 200px;
    }

    .features__item-text-title {
        font-size: 20px;
    }
    .features__item-text-description {
        font-size: 15px;
    }

}





@media (min-width: 1000px) {

    .about .company {
        margin-top: 20px;
    }
    .about .company .title {
        font-size: 26px;
        line-height: 32px;
        grid-row: 1/2;
    }
    .about .company .desc {
        font-size: 25px;
        line-height: 30px;
        grid-row: 2/3;
    }
    
    .about .product {
        margin-top: 200px;
    }
    .about .product .title {
        font-size: 26px;
        line-height: 32px;
        grid-row: 1/2;
    }
    .about .product .desc {
        font-size: 25px;
        line-height: 30px;
        grid-row: 2/3;
    }

    .about .package {
        margin-top: 200px;
    }
    .about .package .title {
        font-size: 26px;
        line-height: 32px;
        grid-row: 1/2;
    }
    .about .package .desc {
        font-size: 25px;
        line-height: 30px;
        grid-row: 2/3;
    }
    
    .about .whereabout {
        margin-top: 200px;
    }
    .about .whereabout .title {
        font-size: 26px;
        line-height: 32px;
    }
    .about .whereabout .desc {
        font-size: 25px;
        line-height: 30px;
    }
    .about .whereabout .map {
        height: 500px;
    }
    .about .whereabout iframe {
        height: 460px;
    }
    .about .whereabout .address .name {
        display: inline-block;
    }

    /* ---------------------------*/

    .features {
        margin-top: 200px;
    }
    .features__title {
    }
    .features__table {
    }
    .features__item {
        flex-direction: row;
        align-items: center;
        margin: 90px 0;
    }
    .features__item:last-child {
        color: #fff;
    }
    .features__item-img {
        width: 310px;
        height: auto;
    }
    .features__item-img svg {
        width: auto;
        height: auto;
    }
    svg.features-img-m {
        display: none;
    }
    svg.features-img-d {
        display: block;
    }
    .features__item-text {
        max-width: 650px; /* 880px */
    }
    .features__item-text-title {
        font-size: 2.3125rem;
        line-height: 45px;
        position: inherit;
    
    }
    .features__item-text-description {
        font-size: 1.5rem;
        line-height: 116.9%;
        font-feature-settings: 'case' on, 'cpsp' on;
        
    }

    /* ---------------------------*/

    .clue {
        
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 130px;
    }
    .clue-hr-m {
        display: none;
    }
    .clue-hr-d {
        display: block;
    }
    
    .clue__block {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 25px 0;
    }
    .clue__item {
        display: flex;
        align-items: center;
    }
    .clue__item-img {
        display: block;
    }
    .clue__item-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-decoration-line: underline;
        text-transform: none;
        color: #FFFFFF;
        margin-left: 15px;
    }

    /* ---------------------------*/

}





@media (min-width: 1400px) {


    .features__item-text {
        max-width: 880px;
    }

}