* {font-family: Montserrat;}

/* ---------------------------------------------*/

body > .content {
    background-image: url('../img/map-bg-desk.webp');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------------------------------------*/

.page-path {
    padding-top: 13px;
    padding-bottom: 16px;
    text-align: left;
}
.page-path__link {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__link:last-child {
    text-decoration-line: underline;
}
.page-path__divider {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    font-family: none;
    font-weight: 600;
    margin: 0 3px;
}

/* ---------------------------------------------*/

.blog {
}
.blog > .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}
.blog > .tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.blog .sharp {
    font-weight: 600;
    font-size: 26px;
    line-height: 101%;
    margin-right: 5px;
}
.blog .tags .item {
    max-width: 200px;
    height: 20px;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 3px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
}
.blog .tags .item p {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    padding: 1px 4px;

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.blog .tags .item.active {
    border: 1px solid #289648;
}
.blog .tags .item.active p {
    font-weight: 600;
}
.blog .tags .sus-points {
    font-weight: 500;
    font-size: 17px;
    line-height: 117%;
    margin-top: 3px;
}

.blog .filter {
    margin-top: 24px;
    height: 24px;
    width: 100%;
}
.blog .filter select {
    display: none;
}
.blog .filter .search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0.8px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}
.blog .filter .search input {
    font-size: 14px;
    line-height: 183%;
    color: #000000b3;
    margin-left: 8px;
}
.blog .filter .search svg {
    width: 14px;
    margin-right: 8px;
}


.blog .table {
    margin-top: 20px;
}

.blog .archive-m {
    margin-top: 20px;
}
.blog .archive-m .years {
    display: flex;
    justify-content: space-between;
}
.blog .archive-m .years > p {
    font-weight: 600;
    font-size: 17px;
    line-height: 117%;
}
.blog .archive-m .years > div {
    display: flex;
}

.blog .archive-m .year {
    margin-left: 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 117%;
    color: #000000b3;
}
.blog .archive-m .year.active {
    text-decoration: underline;
    color: #000;
}
.blog .archive-m .years .sus-points {
    margin-left: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 117%;
    color: #000000b3;
}


.blog .top {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}
.blog .archive-d {
    display: none;
    overflow: hidden;
    overflow-y: scroll;
}
.blog .archive-d > .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}
.blog .archive-d > .item {
    width: 130px;
    margin-right: 12px;
    margin-top: 10px;
    
}
.blog .archive-d .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 101%;
}
.blog .archive-d .title.opened {
    text-decoration: underline;
}
.blog .archive-d .spoiler {
}
.blog .archive-d .content {
    margin: 10px 0;
}
.accordion-content {
    display: none;
    flex-direction: column;
}
.blog .archive-d .content .item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 17px;
    line-height: 101%;
    margin: 3px 0;
}
.blog .archive-d .content .name {

}
.blog .archive-d .content .value {

}

.blog .top > .item {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 14px;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog .top > .item .preview {
    width: 100%;
    height: 45%;
    object-position: center;
    object-fit: cover;
}
.blog .top > .item .title {
    margin: 0px 16px 0 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
}
.blog .top > .item .description {
    margin: 0px 16px 0 16px;
    font-size: 13px;
    line-height: 13px;
    max-height: 67px;
    overflow: hidden;
}
.blog .top > .item .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 20px 16px;
}
.blog .top > .item .date {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #000000b3;
}
.blog .top > .item .read-btn {
    width: 110px;
    height: 20px;
    border: 1px solid #30903A;
    box-sizing: border-box;
    border-radius: 7px;
}
.blog .top > .item .read-btn p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.blog .bottom {
    display: flex;
    flex-direction: column;
}
.blog .bottom .item {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 14px;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog .bottom .preview {
    width: 100%;
    height: 45%;
    object-position: center;
    object-fit: cover;
}
.blog .bottom .title {
    margin: 0px 16px 0 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;

}
.blog .bottom .description {
    margin: 0px 16px 0 16px;
    font-size: 13px;
    line-height: 13px;
    max-height: 67px;
    overflow: hidden;
}
.blog .bottom .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 20px 16px;
}
.blog .bottom .date {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #000000b3;
}
.blog .bottom .read-btn {
    width: 110px;
    height: 20px;
    border: 1px solid #30903A;
    box-sizing: border-box;
    border-radius: 7px;
}
.blog .bottom .read-btn p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.blog .pages {
    margin-top: 10px;
    display: flex;
    width: min-content;
    margin: 20px auto;
}
.blog .pages p {
    color: #000000b3;
    margin-left: 6px;
}
.blog .pages .sus-points {
}


/* ---------------------------------------------*/

.slider-product {
    
}
.slider-product .title {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.product-grid {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    margin-top: 15px;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product-item {
    width: 140px;
    max-width: 270px;
    height: auto;
    border: 1px solid #333333;
    border-radius: 11px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 1px 7px 1px rgba(46, 60, 80, 0.3);
}
.product-item-hidden {
    display: none;
}

.product-item .description {
    font-size: 12px;
    line-height: 15px;
    margin: 4px 6px 0px 6px;
    max-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.product-item .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 6px;
}
.product-item .price {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
}

.product-item .weight {
    font-weight: 500;
    font-size: 13px;
    line-height: 101%;
}


.add-in-cart-btn {
    width: 80%; /*125*/
    height: 22px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add-in-cart-btn p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 1px;
}
.add-in-cart-btn-desk {
    display: none;
    width: 100px;
    height: 20px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 10px;
}
.add-in-cart-btn-desk.active {
    background: #fff;
    border: 1px solid #289648;
}
.add-in-cart-btn.active {
    background: #fff;
    border: 1px solid #289648;
}

.add-in-cart-btn-desk p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.product-qty {
    display: none;
    justify-content: space-between;
}
.product-qty-minus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}
.product-qty-input {
    width: 24px;
    text-align: center;
    font-size: 16px;
}
.product-qty-plus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}

.product-item .sticker {
    width: 26px;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 120px;
    border: 1px solid #FDB01A;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
}

.product-item .sticker p {
    font-family: Affect;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.055em;
    text-transform: uppercase;
}

.product-grid-btn-back {
    position: absolute;
    left: -25px;
    top: 100px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.product-grid-btn-forward {
    position: absolute;
    right: -25px;
    top: 100px;
    
    height: 12px;
}

/* ---------------------------------------------*/

/* ---------------------------------------------*/

.clue {
    display: block;
    max-width: 1100px;
    margin: 90px auto 0 auto;
    height: 173px;
}
.clue-hr-m {
    width: 70%;
    border-color: #FFFFFF;
    opacity: 0.7;
    margin: 15px 0;
}
.clue-hr-d {
    display: none;
    width: 60%;
    opacity: 0.7;
}
.clue__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}
.clue__item {
    display: flex;
    align-items: center;
}
.clue__item-img {
    display: none;
}
.clue__item-link {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #EF861C;
}

/* ---------------------------------------------*/

/* ---------------------------------------------*/



















@media screen and (min-width: 740px) and (max-width: 999px) {

    .blog .table {
        display: flex;
        flex-direction: column;
    }

    .blog .filter {
        display: flex;
        width: 75%;
        align-self: self-end;
        justify-content: space-between;
    }
    .blog .filter select {
        display: block;
        width: 200px;
        height: 100%;
        border: 0.8px solid #000000;
        box-sizing: border-box;
        border-radius: 30px;
        font-size: 14px;
        line-height: 183%;
    }
    .blog .filter .search {
        width: 200px;
    }
    .blog .archive-m {
        display: none;
    }
    .blog .archive-d {
        display: block;
        width: 24%;
        height: 300px;
    }
    
    /* --------------------------*/

    .blog .top {
        flex-direction: row;
        /* justify-content: space-between; */
    }
    .blog .top > .item {
        width: 37%;
        height: 320px;
        margin: 0 6px 20px 6px;
    }
    /* --------------------------*/

    .blog .bottom  {
        flex-direction: row;
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }
    .blog .bottom .item {
        width: 48%;
        height: 300px;
        margin: 0 6px 12px 6px;
    }
    /* --------------------------*/

    .product-item-hidden {
        display: block;
    }

    /* --------------------------*/


}















@media screen and (min-width: 1000px) {

    .blog .table {
        display: flex;
        flex-direction: column;
    }

    

    .blog .filter {
        display: flex;
        width: 75%;
        align-self: self-end;
        justify-content: space-between;
    }
    .blog .filter select {
        display: block;
        width: 200px;
        height: 100%;
        border: 0.8px solid #000000;
        box-sizing: border-box;
        border-radius: 30px;
        font-size: 14px;
        line-height: 183%;
    }
    .blog .filter .search {
        width: 200px;
    }
    .blog .archive-m {
        display: none;
    }
    
    .blog .filter-m {
        display: none;
    }
    .blog .archive-d {
        display: block;
        width: 24%;
        height: 300px;
    }

    /* --------------------------*/

    .blog .top {
        flex-direction: row;
        /* justify-content: space-between; */
    }
    .blog .top > .item {
        width: 37%;
        height: 330px;
        margin: 0 6px 20px 6px;
    }
    /* --------------------------*/

    .blog .bottom  {
        flex-direction: row;
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }
    .blog .bottom .item {
        width: 24%;
        height: 350px;
        
    }
    /* --------------------------*/


    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .product-grid {
        margin-top: 32px;
    }
    .product-item {
        width: 23%;
        height: auto;
        border-radius: 19px;
        box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 15px;
        line-height: 18px;
        margin: 5px 15px;
    }
    .product-item .description br {
        display: none;
    }
    .product-item .info {
        margin: 5px 15px;
    }
    .product-item .weight {
        display: none;
    }
    .product-item .price {
        font-size: 28px;
        line-height: 20px;
    }

    .add-in-cart-btn-desk {
        display: none;
        height: 25px;
    }
    .add-in-cart-btn p {
        padding-top: 3px;
    }
    .add-in-cart-btn {
        display: block;
        height: 25px;
    }
    .product-qty {
        justify-content: space-between;
    }
    .product-qty-input {
        font-size: 19px;
    }
    .product-qty-minus-btn {
        line-height: 22px;
    }
    .product-qty-plus-btn {
        line-height: 22px;
    }

    /* ---------------------------*/

    .clue {
        
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 130px;
    }
    .clue-hr-m {
        display: none;
    }
    .clue-hr-d {
        display: block;
    }
    
    .clue__block {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 25px 0;
    }
    .clue__item {
        display: flex;
        align-items: center;
    }
    .clue__item-img {
        display: block;
    }
    .clue__item-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-decoration-line: underline;
        text-transform: none;
        color: #FFFFFF;
        margin-left: 15px;
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

}



@media screen and (min-width: 1000px) and (max-width: 1200px) {
    
    .blog .top > .item {
        width: 36%;
        margin: 0 6px 15px 11px;
    }

    .blog .bottom .item {
        margin: 0 4px 15px 4px;
        height: 330px;
    }

    .blog .bottom .read-btn {
        width: 96px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .blog .top > .item {
        width: 35%;
        margin: 0 11px 30px 18px;
    }

    .blog .bottom .item {
        width: 23%;
        margin: 0 10px 15px 10px;
    }

}

@media screen and (min-width: 1401px) {

    .blog .archive-d {
        width: 23%;
    }

    .blog .top > .item {
        width: 35%;
        margin: 0px 0px 40px 30px;
    }

    .blog .bottom .item {
        width: 23%;
        margin: 0 10px 20px 10px;
    }

}

/* ---------------------------------------------*/



/* ---------------------------------------------*/