

/* ---------------------------------------------*/



/* ---------------------------------------------*/

.page-path {
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
}
.page-path__link {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__divider {
}

/* ---------------------------------------------*/





/* ---------------------------------------------*/


