/* ---------------------------------------------*/
/* Подвал ------------------------------------*/


.footer {
    background: #212121;

}

.footer__table {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 60px 30px 50px 30px;
}

.footer__info {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
}
.footer__info-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__info-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__info-content {
    display: none;
}
.footer__link {
}

.footer__service {
    grid-column: 1/3;
    grid-row: 2/3;
    position: relative;
}
.footer__service-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__service-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__service-content {
    display: none;
}

.footer__personal {
    grid-column: 1/3;
    grid-row: 3/4;
    position: relative;
}
.footer__personal-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__personal-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__personal-content {
    display: none;
}

.footer__contacts {
    grid-column: 1/2;
    grid-row: 4/5;
    
}
.footer__contacts-title {
    font-family: 'Atomic Alice';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
}
.footer__contacts-container {
    display: flex;
}
.footer__contacts-phone {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}
.footer__text-cut-mobile {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin: 0 6px;
}   
.footer__contacts-email {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
}

.footer__opening-time {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
}
.footer__opening-time-title {
    font-family: 'Atomic Alice';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
}

.footer__opening-time-text {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #FFFFFF;
}

.footer__social-media {
    grid-column: 1/3;
    grid-row: 6/7;
}
.footer__social-media-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;

    color: #EF861C;
    margin-bottom: 3px;
}
.footer__social-media-youtube {
    
}
.footer__social-media-instagram {
}
.footer__social-media-vk {
}
.footer__social-media-copyright {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #6D6D6D;
}

.footer__logo {
    grid-column: 2/3;
    grid-row: 4/7;
    margin-top: 6px;
}