* {font-family: Montserrat;}

/* ---------------------------------------------*/

.content {
    background-image: url('../img/preheat-bg.webp');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------------------------------------*/

.page-path {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.page-path__link {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__link:last-child {
    text-decoration-line: underline;
}
.page-path__divider {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    font-family: none;
    font-weight: 600;
    margin: 0 3px;
}

/* ---------------------------------------------*/

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}

.map-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.map {
    width: 100%;
    max-width: 700px;
    height: 320px;
    border-radius: 10px;
    margin-top: 16px;
    filter: drop-shadow(3px 2px 10px rgba(46, 60, 80, 0.4));
}

.pick-up-points {
    margin-top: 40px;
}
.pick-up-points > .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}
.pick-up-points > .block {
    height: 520px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    margin-top: 16px;
    position: relative;
}

.drop-down-lists {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.drop-down-lists > .item {
    width: 48%;
}
.drop-down-lists > .item > .title {
    font-size: 11px;
    line-height: 183%;
    color: #000000b3;
}
.drop-down-lists > .item > .drop-down-list {
    width: 95%;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 183%;
}

.pick-up-points > .block > .list {
    width: 90%;
    height: 400px;
    margin: 15px auto 0 auto;
    overflow-y: scroll;
}
.pick-up-points > .block > .list > .item {
    margin-bottom: 20px;
}
.pick-up-points > .block > .list > .item > .name {
    display: flex;
}
.pick-up-points > .block > .list > .item > .name > .icon {
}
.pick-up-points > .block > .list > .item > .name > .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.pick-up-points > .block > .list > .item > .address {
    display: flex;
}
.pick-up-points > .block > .list > .item > .address > .favicon {
    width: 20px;
    height: 100%;

}
.pick-up-points > .block > .list > .item > .address > .favicon > div {
    background-color: #000000;
    width: 10px;
    height: 10px;
    margin: 5px auto 0 auto;
    border-radius: 50%;
}
.pick-up-points > .block > .list > .item > .address > .text {
    font-size: 14px;
    line-height: 19px;
}

.scroll-btn {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
.scroll-btn > .icon {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}

.map-block > .description {

}
.map-block > .description > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 117%;
    margin-top: 25px;
}
.map-block > .description > span {
    font-weight: 600;
}




/* ---------------------------------------------*/

.clue {
    display: block;
    max-width: 1100px;
    margin: 90px auto 0 auto;
    height: 173px;
}
.clue-hr-m {
    width: 70%;
    border-color: #FFFFFF;
    opacity: 0.7;
    margin: 15px 0;
}
.clue-hr-d {
    display: none;
    width: 60%;
    opacity: 0.7;
}
.clue__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}
.clue__item {
    display: flex;
    align-items: center;
}
.clue__item-img {
    display: none;
}
.clue__item-link {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #EF861C;
}










/* 0--------------------------------------------------0 */


@media screen and (min-width: 760px) and (max-width: 999px) {

    .content {
        background-image: url('../img/map-bg-desk.webp');
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .map {
        height: 400px;
    }
}

@media screen and (min-width: 1000px) {

    .content {
        background-image: url('../img/map-bg-desk.webp');
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .page-path__link {
        font-size: 15px;
    }
    .page-path__divider {
        font-size: 15px;
    }

    /* --------------------------- */

    .title {
        font-size: 27px;
    }

    .map-block {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 500px auto;
        grid-column-gap: 25px;
        margin-top: 20px;
        margin-bottom: 250px;
    }

    .map {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
    }

    .pick-up-points {
        grid-column: 2/3;
        grid-row: 1/3;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 3px 2px 10px rgba(46, 60, 80, 0.4);
        border-radius: 11px;
        margin: 0;
    }

    .pick-up-points > .block {
        border: none;
        height: auto;
    }

    .pick-up-points > .block > .list {
        height: 430px;
    }
    .scroll-btn {
        position: relative;
        height: 50px;
        
    }
    .scroll-btn > .icon {
        position: absolute;
        left: 46%;
    }

    .map-block > .description {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    .pick-up-points > .title {
        width: 90%;
        margin: 25px auto 0 auto;
    }

    .list {
        height: 490px;
    }
    .pick-up-points > .block > .list {
        height: 500px;
    }
    
    .list > .item > .name > .text {
        
    }

    .list > .item > .address > .text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .clue {
        margin-top: 130px;
        max-width: 1100px;
        margin: 0 auto;
    }
    .clue-hr-m {
        display: none;
    }
    .clue-hr-d {
        display: block;
    }
    
    .clue__block {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 25px 0;
    }
    .clue__item {
        display: flex;
        align-items: center;
    }
    .clue__item-img {
        display: block;
    }
    .clue__item-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-decoration-line: underline;
        text-transform: none;
        color: #FFFFFF;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .list > .item > .address > .text {
        flex-direction: column;
    }
}



@media screen and (min-width: 1400px) {

    .pick-up-points > .block > .list {
        height: 450px;
    }
}
