* {font-family: Montserrat;}

/* ---------------------------------------------*/

.content {
    background-image: url('../img/map-bg-desk.webp');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------------------------------------*/

.page-path {
    width: 91%;
    margin: 0 auto;
    padding: 13px 0 16px 0;
    text-align: left;
}
.page-path__link {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__link:last-child {
    text-decoration-line: underline;
}
.page-path__divider {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    font-family: none;
    font-weight: 600;
    margin: 0 3px;
}
/* ---------------------------------------------*/

input[type=checkbox] {
	display: none;
}
label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
    margin-top: 3px;
    padding-right: 14px;
	background: url('../img/radio-0.svg') 0 0 no-repeat;
}
input[type=checkbox]:checked + label:before {
    background: url('../img/radio-1.svg') 0 0 no-repeat;
}


/* ---------------------------------------------*/

.main-info {
}
.main-info > .title {
    width: 91%;
    margin: 0 auto;
    margin-top: 22px;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}

.main-info > div {
    margin-top: 16px;
}
.main-info .personal {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
}
.main-info .personal > div {
    width: 91%;
    margin: 13px auto;
}
.main-info .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info .name p {
    font-weight: 500;
    font-size: 20px;
    line-height: 101%;
}
.main-info .name img {
    height: 32px;
}
.main-info .personal .item {
    margin: 6px 0;
}
.main-info .personal .item > input {
    /* display: none; */
    width: 100%;
    height: 28px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
}
.main-info .personal .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info .personal .title p:first-child {
    font-size: 15px;
    line-height: 183%;
    color: #000000b3;
}
.main-info .personal .change {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}
.main-info .personal .notice {
    font-weight: 500;
    font-size: 13px;
    line-height: 90.5%;
    color: #000000b3;
    margin-top: 6px;
}

.main-info .sex {
    display: flex;
    margin-top: 10px;
}
.main-info .sex > div {
    margin-right: 8px;
}
.main-info .sex label {
    font-size: 16px;
    line-height: 20px;
    color: #000000b3;
}
.main-info .sex input {

}

.main-info .other {
}
.main-info .col {
    display: flex;
    margin-bottom: 8px;
}
.main-info .other .title {
    font-size: 16px;
    line-height: 20px;
    color: #000000b3;
    margin-right: 26px;
}
.main-info .other .title b {
    font-weight: bold;
}
.main-info .other .value {
    font-size: 16px;
    line-height: 101%;
}
.main-info .social {
    margin-top: 8px;
    display: flex;
}
.main-info .icon {
    height: 40px;
    margin-right: 12px;
    border-radius: 24%;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 7px 0px #00000040;
}

.orange {
    color: orange;
}

.main-info .bonus {
    width: 91%;
    margin: 26px auto 0 auto;
}
.main-info .bonus .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
}
.main-info .sub-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 101%;
    margin-top: 10px;
}
.main-info .info {
    font-size: 15px;
    line-height: 117%;
    letter-spacing: -0.02em;
    margin-top: 16px;
}
.main-info .bonus .notice {
    font-weight: 500;
    font-size: 13px;
    line-height: 117%;
    margin-top: 32px;
}



/* ---------------------------------------------*/

.orders {
    margin-top: 40px;
}
.orders .title {
    width: 91%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 101%;
}
.orders > div {
    margin-top: 12px;
}

.orders .current {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    width: 100%;
}
.orders .sub-title {
    width: 91%;
    margin: 0 auto;
}
.orders .sub-title h2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #000000b3;
    margin-top: 6px;
}

.orders .item {
    margin: 10px 0 10px 0
}
.orders .status {
    display: flex;
    align-items: center;
    margin: 12px 5%;
}
.orders .date {
    font-size: 11px;
    line-height: 183%;
    color: #000000b3;
}
.orders .time {

}
.orders .state {
    font-size: 13px;
    line-height: 183%;
    margin-left: 10px;
}


.orders .product {
    width: 91%;
    display: flex;
    margin: 10px auto;
    
}
.orders .icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}
.orders .info {
    width: 100%;
}
.orders .block-1 {
    margin-top: 6px;
}
.orders .name p {
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
}
.orders .table {
    margin-top: 10px;
}
.orders .table td {
    padding-right: 6px;
    font-size: 13px;
    line-height: 101%;
}
.orders .text1 td {
    padding-right: 6px;
    font-size: 13px;
    line-height: 101%;
    color: #000000b3;
}
.orders .text2 td {
    font-size: 13px;
}

.orders .last {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    width: 100%;
    margin-top: 12px;
}
.orders .nothink {
    font-size: 15px;
    line-height: 183%;
    color: #000000b3;
    margin: 10px 5%;
}


/* ---------------------------------------------*/

.reviews {
    margin-top: 30px;
}
.reviews .title {
    width: 91%;
    margin: 10px auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 101%;
}
.reviews > div {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    width: 100%;
}
.reviews .item {
    margin: 10px 0 10px 0;
}
.reviews .product {
    width: 91%;
    display: flex;
    margin: 10px auto;
}
.reviews .icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}
.reviews .info {
    width: 100%;
}
.reviews .block-1 {
    margin-top: 6px;
}
.reviews .name p {
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
}
.reviews .review-btn {
    width: 140px;
    height: 22px;
    background: linear-gradient(0deg, #289648, #289648);
    border: 1px solid #289648;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 12px;
}
.reviews .review-btn p {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


/* ---------------------------------------------*/

.slider-product {
    width: 91%;
    margin: 40px auto;
}
.slider-product .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.product-grid {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    margin-top: 15px;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product-item {
    width: 140px;
    max-width: 270px;
    height: auto;
    border: 1px solid #333333;
    border-radius: 11px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.product-item-hidden {
    display: none;
}

.product-item .description {
    font-size: 12px;
    line-height: 15px;
    margin: 4px 6px 0px 6px;
    max-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.product-item .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 6px;
}
.product-item .price {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
}

.product-item .weight {
    font-weight: 500;
    font-size: 13px;
    line-height: 101%;
}


.add-in-cart-btn {
    width: 80%; /*125*/
    height: 22px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add-in-cart-btn p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 1px;
}
.add-in-cart-btn-desk {
    display: none;
    width: 100px;
    height: 20px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 10px;
}
.add-in-cart-btn-desk.active {
    background: #fff;
    border: 1px solid #289648;
}
.add-in-cart-btn.active {
    background: #fff;
    border: 1px solid #289648;
}

.add-in-cart-btn-desk p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.product-qty {
    display: none;
    justify-content: space-between;
}
.product-qty-minus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}
.product-qty-input {
    width: 24px;
    text-align: center;
    font-size: 16px;
}
.product-qty-plus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}

.product-item .sticker {
    width: 26px;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 120px;
    border: 1px solid #FDB01A;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
}

.product-item .sticker p {
    font-family: Affect;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.055em;
    text-transform: uppercase;
}

.product-grid-btn-back {
    position: absolute;
    left: -25px;
    top: 100px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.product-grid-btn-forward {
    position: absolute;
    right: -25px;
    top: 100px;
    
    height: 12px;
}

/* ---------------------------------------------*/




















@media screen and (min-width: 740px) and (max-width: 999px) {

    .product-item-hidden {
        display: block;
    }

}







@media screen and (min-width: 1000px) {

    .page-path {
        width: 94%;
    }
    .page-path__link {
        font-size: 15px;
    }
    .page-path__divider {
        font-size: 15px;
    }

    /* --------------------------- */

    .main-info > .title {
        width: 94%;
    }
    .main-info > .title h1 {
        font-size: 26px;
    }

    .main-info > div {
        display: flex;
    }
    .main-info .personal {
        width: 35%;
        max-width: 440px;
        margin-right: 5%;
    }
    .main-info .name img {
        height: 58px;
    }
    .main-info .icon {
        height: 42px;
    }

    .main-info .bonus {
        width: 55%;
        margin: 45px;
    }
    .main-info .bonus .title {
        font-size: 23px;
    }
    .main-info .sub-title {
        font-size: 20px;
    }
    .main-info .info {
        font-size: 17px;
    }
    .main-info .bonus .notice {
        font-size: 15px;
    }


    /* -----------------------------*/

    .orders > div {
        display: flex;
        width: 94%;
        margin: 0 auto;
    }
    .orders .title {
        width: 94%;
        font-size: 26px;
        margin: 26px auto;
    }
    .orders .current {
        width: 40%;
        border: none;
    }
    .orders .sub-title {
        width: auto;
    }
    .orders .sub-title h2 {
        font-size: 20px;
    }
    .orders .status {
        margin: 12px 0;
    }
    .orders .date {
        font-size: 13px;
    }
    .orders .state {
        font-size: 15px;
    }
    .orders .product {
        width: auto;
    }
    .orders .name p {
        font-size: 15px;
    }
    .orders .text2 td {
        font-size: 16px;
    }

    .orders .last {
        width: 40%;
        border: none;
        margin-top: 0;
    }

    /* -----------------------------*/

    .reviews {
        width: 94%;
        margin: 40px auto;
    }
    .reviews > div {
        width: 40%;
        border: none;
    }
    .reviews .title {
        width: 100%;
        font-size: 26px;
    }
    .reviews .product {
        width: 100%;
    }
    .reviews .name p {
        font-size: 15px;
    }

    /* -----------------------------*/

    .slider-product {
        width: 94%;
    }

    .slider-product .title {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 34px;
    }

    .product-grid {
        margin-top: 32px;
    }
    
    .product-item {
        width: 24%;
        height: auto;
        border-radius: 19px;
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 15px;
        line-height: 18px;
        margin: 5px 15px;
    }
    .product-item .description br {
        display: none;
    }
    .product-item .info {
        margin: 5px 15px;
    }
    .product-item .weight {
        display: none;
    }

    .add-in-cart-btn-desk {
        display: none;
        height: 25px;
    }
    .add-in-cart-btn p {
        padding-top: 3px;
    }
    .add-in-cart-btn {
        display: block;
        height: 25px;
    }
    .product-qty {
        justify-content: space-between;
    }
    .product-qty-input {
        font-size: 19px;
    }
    .product-qty-minus-btn {
        line-height: 22px;
    }
    .product-qty-plus-btn {
        line-height: 22px;
    }

}




@media (min-width: 1200px) and (max-width: 1300px) {

    .product-item {
        width: 23%;
        height: auto;
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 17px;
        line-height: 20px;
    }
    .product-item .info {
        margin: 15px 15px;
    }
    .product-item .price {
        font-size: 28px;
        line-height: 20px;
    }

}







@media (min-width: 1300px) and (max-width: 1399px) {

    .product-item {
        width: 23%;
        height: auto;
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 17px;
        line-height: 20px;
    }
    .product-item .info {
        margin: 15px 15px;
    }
    .product-item .price {
        font-size: 28px;
        line-height: 20px;
    }


}








@media (min-width: 1400px) {

    .product-item {
        width: 23%;
        height: auto;
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 17px;
        line-height: 20px;
    }
    .product-item .info {
        margin: 15px 15px;
    }
    .product-item .price {
        font-size: 28px;
        line-height: 20px;
    }

}