* {font-family: Montserrat;}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

/* ---------------------------------------------*/
/* Путь самурая ------------------------------------*/

.page-path {
    margin: 20px auto 24px auto;
    text-align: left;
    width: 89%;
    
}

.page-path__link {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__link:last-child {
    text-decoration-line: underline;
}
.page-path__divider {
    font-size: 13px;
    line-height: 15px;
}

/* ---------------------------------------------*/
/* Блок с информацией о продукте ------------------------------------*/

.product {

}

/* ---------------------------------------------*/
/* Галлерея ------------------------------------*/

.gallery {
    width: auto;
    height: 255px;
    margin: 0 auto;
}
.gallery__img-block {
    margin: 0 auto;
    position: relative;
}
.gallery__main-preview {
    width: 255px;
    height: 255px;
    margin: 0 auto;
}
.gallery__sub-preview {
    display: none;
}
.gallery__points {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 46px;

}
.gallery__points-item {
    margin: 0 4px;
}

.gallery__promo-icon {
    position: absolute;
    top: 14px;
    height: 50px;
    right: 42px;
}
.gallery__description {
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 101%;
    margin-top: 50px;
}
.gallery__stamps {
    display: none;
    margin-top: 20px;
    height: 80px;
}

/* ---------------------------------------------*/
/* Большой блок с информацией о продукте ------------------------------------*/

.product-info {
    width: 86%;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 500px;
}   
.product-info__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}


.product-info__weight {
    font-weight: 400;
    display: flex;
    position: relative;
    margin: 5px 0;
}
.product-info__weight-option {
    display: block;
    font-size: 13px;
    line-height: 101%;
    letter-spacing: 0em;
    text-decoration-line: underline;
    margin: 11px 7.5px 10px 7.5px;
}
.product-info__weight-option-selected {
    display: block;
    width: 66px;
    height: 22px;
    font-size: 14px;
    font-weight: 500;
    line-height: 101%;
    letter-spacing: 0em;
    border: 1.5px solid #289648;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 7px 5px 10px 5px;
    text-align: center;
}
.product-info__weight-option-selected > p {
    margin-top: 3px;
}
.product-info__food-category-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}


.product-info__rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 15px 0;
}
.product-info__rating-stars {
    display: flex;
}
.product-info__rating-stars-bar {
    width: 105px;
    height: 20px;
    position: relative;
}
.product-info__rating-stars-bar-0 {
    background-image: url('../img/star-0.svg');
    background-size: 21px;
    height: 100%;
    width: 100%;
}
.product-info__rating-stars-bar-1 {
    background-image: url('../img/star-1.svg');
    background-size: 21px;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.product-info__rating-stars-int {
    font-weight: 500;
    font-size: 12px;
    line-height: 101%;
    margin: 6px 0 0 4px;
    opacity: 0.8;
}

.product-info__reviews {
    display: flex;
}
.product-info__reviews-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
    text-decoration-line: underline;
    color: #EA8D2F;
    opacity: 0.8;
    
}
.product-info__reviews-volue {
    font-weight: 600;
    font-size: 13px;
    line-height: 101%;
    opacity: 0.8;
    margin: 2px;
}





.product-info__purchase {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product-info__purchase-price {
    display: flex;
    margin-top: 2px;
    
}
.product-info__purchase-price-value {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
}
.product-info__purchase-price-valute {
    margin-left: 10px;
    font-size: 36px;
    line-height: 20px;
    font-family: auto;
    font-weight: 600;
}


/* ---------------------------------------------*/
/*  ------------------------------------*/

.product-info__details {
    display: flex;
    margin: 12px 0;
    width: auto;
}
.product-info__details-bonus {
    display: flex;
    
}
.product-info__details-bonus-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 101%;
    color: #FDB01A;
}
.product-info__details-bonus-info-icon {
    margin-left: 5px;
}
.product-info__details-availability {
    display: flex;
    margin-top: 10px;
}
.product-info__details-availability-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 101%;
    color: #289648;
}
.product-info__details-availability-info-icon {
    margin-left: 5px;
}

/* ---------------------------------------------*/
/* Кнопка "в корзину" (старая) ------------------------------------*/

/* .product-info__in-cart {
    display: flex;
    height: 26px;
    position: relative;
    margin: 10px auto 10px auto;
    
}
.product-info__in-cart-back {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #93CAA3, #93CAA3);
    border-radius: 16px;
}
.product-info__in-cart-back-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
    margin: 5px 10px 0 0;
}
.product-info__in-cart-back-icon {
    margin-top: 2px;
    margin-right: 10px;
}
.product-info__in-cart-btn {
    position: absolute;
    width: 50%;
    height: 28px;
    left: 0px;
    top: -1px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 16px;
    
}
.product-info__in-cart-btn-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 4px;
    color: #FFFFFF;
} */

/* ---------------------------------------------*/
/* Кнопка "в корзину" -----------------------------*/

.product-info__in-cart {
    width: 80%;
    height: 28px!important;
    margin: 0 auto;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 16px;
}
.product-info__in-cart > p {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 4px!important;
    color: #FFFFFF;
}


/* ---------------------------------------------*/
/* Описание ------------------------------------*/

.product-info__description {
    display: block;
    font-size: 13px;
    line-height: 101%;
    margin-top: 10px;
}

/* ---------------------------------------------*/
/* Таблица с колориями ------------------------------------*/

.product-info__calorie-table {
    width: 100%;
    margin: 15px 0 15px;
}
.product-info__with-calorie {
    font-weight: 500;
    font-size: 15px;
    line-height: 101%;
    text-align: left;
    width: 173px;
}
.product-info__with-gramm {
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    text-align: left;
}
.product-info__with-portion {
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    text-align: left;
}   
.product-info__with-disc {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: list-item;
    list-style: disc;
    list-style-position: inside;
}
.product-info__with-int {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

/* ---------------------------------------------*/
/* Инфо состав ------------------------------------*/

.product-info__composition {
}
.product-info__composition-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 101%;
    margin-bottom: 5px;
}
.product-info__composition-content {
    font-size: 13px;
    line-height: 101%;
}

/* ---------------------------------------------*/
/* Инфо штампы ------------------------------------*/

.product-info__stamps {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 20px 0;
}
.product-info__stamps > img {

}

/* ---------------------------------------------*/
/* Инфо температура хранения ------------------------------------*/

.product-info__temperature {
}
.product-info__temperature-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 101%;
}
.product-info__temperature-storage {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.product-info__temperature-storage-when-closed {
    display: flex;
}
.product-info__temperature-when-closed-icon {
    width: 48px;
    height: 62px;
}
.product-info__temperature-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-info__temperature-info-string {
    display: flex;
}
.product-info__temperature-info-string-text {
    margin-left: 5px;
}
.product-info__temperature-when-opened {
    display: flex;
}
.product-info__temperature-when-opened-icon {
    width: 48px;
    height: 62px;
}


.product-info__idk-btns {
    display: none;
    width: 380px;
    margin: 20px auto 0 auto;
}
.product-info__idk-btns-block {
    display: flex;
    justify-content: space-between;
}
.product-info__idk-btns-item {
    display: flex;
}
.product-info__idk-btns-item-desk {
    display: none;
}
.product-info__idk-btns-item-icon {
}
.product-info__idk-btns-item-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;text-decoration-line: underline;
    margin-left: 6px;
}

/* ---------------------------------------------*/
/* хрен-его-знает-кнопки ------------------------------------*/

.idk-btns {
    width: 90%;
    max-width: 500px;
    margin: 26px auto 0 auto;
}
.idk-hr {
    width: 80%;
}
.idk-btns__block {
    display: flex;
    justify-content: space-between;
}
.idk-btns__item {
    display: flex;
}
.idk-btns__item-icon {
}
.idk-btns__item-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;text-decoration-line: underline;
    margin-left: 6px;
}

/* ---------------------------------------------*/
/* Разогрев ------------------------------------*/

.preheat {
    width: 86%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.preheat__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 101%;
    margin: 48px 0px 28px 0px;
}

.preheat__block-1 {

}
.preheat__block-2 {

}
.preheat__block-3 {

}
.preheat__block-4 {

}

.preheat__sub-title {
    display: flex;
    align-items: baseline;
}
.preheat__sub-title-icon {
}
.preheat__sub-title-icon > svg {
    height: 50px;
}
.preheat__sub-title-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 101%;
    margin-left: 5px;
}
.preheat__content {
    margin: 8px 0;
}
.preheat__content-box {
    display: flex;
}
.preheat__content-number {
    font-size: 14px;
    line-height: 101%;
    padding-right: 5px;
}
.preheat__content-text {
    font-size: 13px;
    line-height: 101%;
}
.preheat__content-time {
    font-weight: 600;
    font-size: 11px;
    line-height: 101%;
    color: #289648;
    margin: 7px 0px 7px 24px;
}
.preheat__alert {
    display: flex;
}
.preheat__alert b {
    font-size: 12px;
    line-height: 108%;
    font-weight: 500;
}
.preheat__alert-icon {
    margin: 5px 10px 0px 0px;
}
.preheat__sub-title-icon svg {
    height: 58px;
}
.preheat__alert-icon-desk {
    display: none;
    margin-right: 8px;
}
.preheat__alert-text {
    font-size: 12px;
    line-height: 108%;
    margin: 7px 0px 10px 0px;
}

.preheat__content-link {
    font-size: 13px;
    line-height: 126%;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    margin-left: 15px;
}

/* ---------------------------------------------*/
/* Похожие товары ------------------------------------*/

.similar {
    width: 86%;
    height: auto;
    margin: 0 auto;
}
.similar__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}

/* ---------------------------------------------*/
/* С этим берут ------------------------------------*/

.together {
    width: 86%;
    height: auto;
    margin: 0 auto;
}
.together__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}

/* ---------------------------------------------*/
/* Слайдер ------------------------------------*/

.product-grid {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    margin-top: 15px;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product-item {
    width: 140px;
    max-width: 270px;
    height: auto;
    border: 1px solid #333333;
    border-radius: 11px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.product-item-hidden {
    display: none;
}
.product-grid-img {
}
.product-item .description {
    font-size: 12px;
    line-height: 15px;
    margin: 4px 6px 0px 6px;
    max-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.product-item .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 6px;
}
.product-item .price {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.product-item .weight {
    font-weight: 500;
    font-size: 13px;
    line-height: 101%;
}


.add-in-cart-btn {
    width: 80%; /*125*/
    height: 21px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add-in-cart-btn p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 2px;
}

.product-info__in-cart > .product-qty > div {
    font-size: 25px;
    padding-top: 2px;
}

.product-info__in-cart > .product-qty > input {
    font-size: 18px;
}

.add-in-cart-btn-desk {
    display: none;
    width: 100px;
    height: 20px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 10px;
}
.add-in-cart-btn-desk.active {
    background: #fff;
    border: 1px solid #289648;
}
.add-in-cart-btn.active {
    background: #fff;
    border: 1px solid #289648;
}

.add-in-cart-btn-desk p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.product-qty {
    display: none;
    justify-content: space-between;
}
.product-qty-minus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}
.product-qty-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}
.product-qty-plus-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 0 4px;
}

.product-item .sticker {
    width: 26px;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 120px;
    border: 1px solid #FDB01A;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
}
.product-item .sticker p {
    font-family: Affect;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.055em;
    text-transform: uppercase;
}


.product-grid-btn-back {
    position: absolute;
    left: -25px;
    top: 100px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.product-grid-btn-forward {
    position: absolute;
    right: -25px;
    top: 100px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Конец страницы ------------------------------------*/

.end {
    
    /* height: 1300px; */
    background-image: url('../img/end-bg-mobile.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------------------------------------------*/
/* Отзывы ------------------------------------*/


.review__title {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 30px auto 20px auto;
    width: 86%;
}

.review {
    width: 90%; /* 345px */
    max-width: 1200px;
    height: 510px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 19px;
    margin: 0 auto;
    background-color: #fff;
}
.review__table {
    margin: 20px;
    display: flex;
    position: relative;
}
.review__item {
    width: 100%;
    height: 400px;
    margin: 0 12px;
}
.review__item-two {
    display: none;
}
.review__item-three {
    display: none;
}
.review__item-line {
    display: none;
    border-right: 1px solid black;
    width: 0;
    height: 280px;
    margin: 160px 2% 0px 2%;
}
.review__item-slide-left {
    transform: rotate(180deg);
    display: none;
    position: absolute;
    top: 200px;
    left: 0px;
}
.review__item-slide-right {
    position: absolute;
    top: 200px;
    right: 0px;
}


.review__item-profile {
    width: 80%;
    padding: 20px 0;
    display: flex;
}
.review__item-profile-avatar {
    height: 41px;
    border-radius: 50%;
    padding-right: 7px;
}
.review__item-profile-name {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.05em;
    font-feature-settings: 'case' on, 'cpsp' on;
}
.review__item-profile-time {
    font-size: 10px;
    line-height: 12px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #333333;
}



.review__item-product {
}
.review__item-product-info {
    font-size: 12px;
    line-height: 15px;
    color: #000000b3;
}
.review__item-product-block {
    display: flex;
    align-items: center;
    margin: 10px 0px 15px 0px;
}
.review__item-product-img {
    width: 66px;
}
.review__item-product-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}
.review__item-comment {
    
}
.review__item-comment-info {
    color: #000000b3;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
}
.review__item-comment-content {
    font-size: 13px;
    line-height: 15px;
}

.review__item-rating {
    
}
.review__item-rating-info {
    color: #000000b3;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 5px 0;
}
.review__item-rating-stars-bar {
    width: 100px;
    height: 20px;
    position: relative;
}
.review__item-rating-stars-bar-0 {
    background-image: url('../img/star-0.svg');
    background-size: 20px;
    height: 100%;
    width: 100%;
}
.review__item-rating-stars-bar-1 {
    background-image: url('../img/star-1.svg');
    background-size: 20px;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.review__more-btn {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 150px;
    height: 25px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 34px;
    margin: 0px auto;
}

/* ---------------------------------------------*/
/* Подсказка(?) в конце ------------------------------------*/

.clue {
    display: none;
    margin-top: 130px;
    max-width: 1100px;
    margin: 30px auto 0 auto;
}
.clue-hr {
    width: 60%;
    opacity: 0.7;
}
.clue__block {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}
.clue__item {
    display: flex;
    align-items: center;
}
.clue__item-img {
}
.clue__item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 15px;
}


































@media screen and (min-width: 400px) and (max-width: 767px) {
    


}

@media screen and (min-width: 740px) and (max-width: 999px) {
    
    .product-item-hidden {
        display: block;
    }

}

@media (min-width: 1000px)  {
    /* and (max-width: 1400px) */
    .container {
        background-image: url('../img/end-bg-desk.png');
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;

        
    }
    
    .page-path__link {
        font-size: 15px;
    }

    .page-path__divider {
        font-size: 15px;
    }
/* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */
/* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .product {
        display: flex;
        justify-content: space-evenly;
    }
    
    /* ---------------------------------------------*/
    /* Галлерея ------------------------------------*/
    
    .gallery {
        width: 550px;
        height: 680px;
        margin: 0;
    }
    .gallery__img-block {
        display: flex;
    }
    .gallery__main-preview {
        width: 84%;
        height: 500px;
    }
    .gallery__sub-preview {
        display: flex;
        flex-direction: column;
        margin-top: 217px;
        width: 16%;
    }
    .gallery__sub-preview-item {
        margin-top: 10px;
        width: 84px;
        height: 84px;
    }
    .gallery__points {
        display: none;
    }
    .gallery__points-item {
        margin: 0 2px;
    }

    .gallery__promo-icon {
        top: 35px;
        height: 100px;
        right: 78px;
    }
    .gallery__description {
        display: block;
    }
    .gallery__stamps {
        display: flex;
        justify-content: space-between;
    }
    
    /* ---------------------------------------------*/
    /* Большой блок с информацией о продукте ------------------------------------*/
    
    .product-info {
        margin: 0;
        margin-top: 0px;
        width: 400px;
        
    }
    .product-info-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto 50px;
        align-items: start;
        box-shadow: 3px 2px 10px rgba(46, 60, 80, 0.4);
        border: 1px solid #000;
        border-radius: 19px;
        height: 700px;
    }
    .product-info__title {
        font-size: 28px;
        line-height: 101%;
        margin: 15px 25px 0 25px;
    }
    
    /* ---------------------------------------------*/
    /*  ------------------------------------*/
    
    .product-info__weight {
        margin: 0 25px;
    }
    .product-info__weight-option {
        font-size: 14px;
        line-height: 101%;
    }
    .product-info__weight-option-selected {
        font-size: 18px;
        line-height: 101%;
        width: 75px;
        height: 25px;
    }
    .product-info__weight-option-selected > p {
        margin-top: 2px;
    }
    .product-info__food-category-icon {
    }
    
    /* ---------------------------------------------*/
    /*  ------------------------------------*/
    
    .product-info__rating {
        display: flex;
        justify-content: space-between;
        width: 310px;
        grid-row: 10/11;
        margin: 5px 25px 0px 25px;
    }
    .product-info__rating-stars {
    }
    .product-info__rating-stars-bar {
    }
    .product-info__rating-stars-bar-0 {
    }
    .product-info__rating-stars-bar-1 {
    }
    .product-info__rating-stars-int {
    }
    
    /* ---------------------------------------------*/
    /*  ------------------------------------*/

    .product-info__reviews {
    }
    .product-info__reviews-link {
        
    }
    .product-info__reviews-volue {
    }
    
    /* ---------------------------------------------*/
    /*  ------------------------------------*/
    
    
    .product-info__purchase {
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
        flex-direction: row;
        align-items: flex-end;
    }
    .product-info__purchase-price {
        display: flex;
        margin-top: 6px;
        
    }
    .product-info__purchase-price-value {
        font-size: 40px;
        line-height: 101%;
    }
    .product-info__purchase-price-valute {
        font-size: 40px;
        line-height: 101%;
    }


    /* .product-info__purchase-cart-btn {
        width: 150px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 101%;
    } */
    .product-info__in-cart {
        width: 65%;
    }

    
    /* ---------------------------------------------*/
    /*  ------------------------------------*/
    
    .product-info__details {
        margin: 12px 80px 0px 0;
    }
    .product-info__details-bonus {
    }
    .product-info__details-bonus-text {
        font-size: 14px;
    }
    .product-info__details-bonus-info-icon {
    }
    .product-info__details-availability {
        width: 90%;
        margin: 0 auto;
    }
    .product-info__details-availability-text {
        font-size: 14px;
    }
    .product-info__details-availability-info-icon {
    }
    
    /* ---------------------------------------------*/
    /* Таблица с колориями ------------------------------------*/
    
    .product-info__calorie-table {
        margin: 0 25px;
    }
    .product-info__with-calorie {
    }
    .product-info__with-gramm {
    }
    .product-info__with-portion {
    }   
    .product-info__with-disc {
    }
    .product-info__with-int {
    }
    
    /* ---------------------------------------------*/
    /* описание ------------------------------------*/

    .product-info__description {
        display: none;
    }
    /* ---------------------------------------------*/
    /* Инфо состав ------------------------------------*/
    
    .product-info__composition {
        margin: 20px 25px 0 25px;
    }
    .product-info__composition-title {
        font-size: 15px;
        line-height: 101%;
        margin: 5px 0;
    }
    .product-info__composition-content {
        font-size: 15px;
        line-height: 101%;
    }
    
    /* ---------------------------------------------*/
    /* Инфо штампы ------------------------------------*/
    
    .product-info__stamps {
        display: none;
    }
    
    /* ---------------------------------------------*/
    /* Инфо температура хранения ------------------------------------*/
    
    .product-info__temperature {
        margin-top: 25px;
        margin: 25px 25px 0 25px;
    }
    .product-info__temperature-title {
    }
    .product-info__temperature-storage {
    }
    .product-info__temperature-storage-when-closed {
    }
    .product-info__temperature-when-closed-icon {
    }
    .product-info__temperature-info {
    }
    .product-info__temperature-info-string {
    }
    .product-info__temperature-info-string-text {
    }
    .product-info__temperature-when-opened {
    }
    .product-info__temperature-when-opened-icon {
    }
    
    /* ---------------------------------------------*/
    /* хрен-его-знает-кнопки ------------------------------------*/

    .product-info__idk-btns {
        display: block;
    }
    .product-info__idk-btns-item {
        display: none;
    }
    .product-info__idk-btns-item-desk {
        display: flex;
    }
    /* ---------------------------------------------*/
    /* хрен-его-знает-кнопки ------------------------------------*/
    
    .idk-btns {
        display: none;
    }
    .idk-hr {
    }
    .idk-btns__block {
    }
    .idk-btns__item {
    }
    .idk-btns__item-icon {
    }
    .idk-btns__item-btn {
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .preheat {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 20px;
    }
    .preheat__title {
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 17px;
    }
    
    .preheat__block-1 {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 auto;
    }
    .preheat__block-2 {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0 auto;
    }
    .preheat__block-3 {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0 auto;
    }
    .preheat__block-4 {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0 auto;
    }


    .preheat__sub-title-icon > svg {
        height: 70px;
        width: 75px;
    }
    .preheat__content {
        margin-top: 20px;
    }
    .preheat__content-text {
        font-size: 15px;
    }
    .preheat__content-time {
        font-size: 16px;
        margin-top: 15px;
    }
    .preheat__sub-title-icon svg {
        height: 58px;
    }
    .preheat__alert-icon-desk {
        display: block;
    }
    .preheat__alert-text {
        font-size: 15px;
    }
    .preheat__alert-desk {
        margin-top: 50px;
    }
    .preheat__alert b {
        font-size: 15px;
    }
    .preheat__content-link {
        font-size: 15px;
    }

    /*-0-0---0-0--0-0--0--0-0-0-0-0--0---*/

    .product-grid {
        margin-top: 32px;
    }
    
    .product-item {
        width: 30%;
        height: auto;
        border-radius: 19px;
    }
    .product-item-hidden {
        display: block;
    }
    .product-item .description {
        font-size: 17px;
        line-height: 20px;
        margin: 10px 15px;
    }
    .product-item .description br {
        display: none;
    }
    .product-item .info {
        margin: 5px 15px;
    }
    .product-item .weight {
        display: none;
    }
    .add-in-cart-btn-desk {
        display: none;
        height: 21px;
    }
    .add-in-cart-btn-desk p {
        margin-top: 3px;
    }
    .add-in-cart-btn {
        display: block;
        height: 21px;
    }
    .add-in-cart-btn p {
        padding-top: 1px;
    }
    .product-qty {
        justify-content: space-between;
    }
    .product-qty-input {
    }
    .product-qty-minus-btn {
    }
    .product-qty-plus-btn {
    }


    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .end {
        /* background-image: url('../img/end-bg-mobile.png');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat; */
        background: none;
        height: auto;
        padding-bottom: 150px;
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .similar {
        width: 90%;
    }

    .similar__title {
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }



    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .together {
        width: 90%;
        margin-top: 80px;
    }
    .together__title {
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .review__title {
        width: 90%;
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        margin-top: 80px;
    }

    .review {
        display: block;
        width: 90%;
        max-width: 1200px;
        height: 660px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 19px;
        margin: 0 auto;
        background-color: #fff;
    }
    .review__table {
        margin: 25px;
        display: flex;
    }
    .review__item {
        width: 30%;
        height: 450px;
        margin-top: 15px;
    }
    .review__item-two {
        display: block;
    }
    .review__item-three {
        display: block;
    }
    .review__item-line {
        display: block;
        border-right: 1px solid black;
        width: 0;
        height: 280px;
        margin: 160px 2% 0px 2%;
    }
    .review__item-slide-left {
        transform: rotate(180deg);
        display: none;
        position: absolute;
        top: 200px;
        left: 0px;
    }
    .review__item-slide-right {
        display: none;
        position: absolute;
        top: 200px;
        right: 0px;
    }
    
    /* ? */
    .review__item-profile {
        width: 80%;
        padding: 20px 0;
        display: flex;
    }
    .review__item-profile-avatar {
        height: 41px;
        border-radius: 50%;
        padding-right: 10px;
    }
    .review__item-profile-name {
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.05em;
        font-feature-settings: 'case' on, 'cpsp' on;
    }
    .review__item-profile-time {
        font-size: 11px;
        line-height: 13px;
        font-feature-settings: 'case' on, 'cpsp' on;
        color: #333333;
    }
    
    
    
    .review__item-product {
    }
    .review__item-product-info {
        font-size: 14px;
        line-height: 17px;
        color: #000000b3;
    }
    .review__item-product-block {
        display: flex;
        align-items: center;
        margin: 15px 0px 25px 0px;
    }
    .review__item-product-img {
        width: 66px;
    }
    .review__item-product-description {
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
    }
    .review__item-comment {
        
    }
    .review__item-comment-info {
        color: #000000b3;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .review__item-comment-content {
        font-size: 17px;
        line-height: 20px;
    }
    
    .review__item-rating {
        
    }
    .review__item-rating-info {
        color: #000000b3;
        font-size: 14px;
        line-height: 17px;
        margin: 20px 0 10px 0;
    }
    .review__item-rating-stars-bar {
        width: 100px;
        height: 20px;
        position: relative;
    }
    .review__item-rating-stars-bar-0 {
        background-image: url('../img/star-0.svg');
        background-size: 20px;
        height: 100%;
        width: 100%;
    }
    .review__item-rating-stars-bar-1 {
        background-image: url('../img/star-1.svg');
        background-size: 20px;
        width: 0%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .review__more-btn {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        width: 180px;
        height: 30px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 34px;
        margin: 100px auto;
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .clue {
        display: none;
    }





    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */




    
}