@font-face {
    font-family: 'Affect Regular';
    src: url('../fonts/Affect.eot');
    src: url('../fonts/Affect.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Affect.woff') format('woff'),
    url('../fonts/Affect.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lester Deco';
    src: url('../fonts/Lester Deco.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/ofont.ru_Muller.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Regular.woff') format('woff'),
    url('../fonts/AtomicAlice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {font-family: 'Affect Regular';}


/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* ---------------------------------------------*/

.container {

}

.header {
    width: 100%;
    height: 46px;
    box-shadow: 1px 1px 2px 0px #2E3C5099;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    display: flex;
}


.header__top-block {
    display: flex;
    width: 100%;
    margin: 15px auto 5px auto;
    justify-content: space-between;
}
.header__top-contacts {
    display: none;
}

.header__top-menu {
    display: none;
}




.header__bottom-block {
    position: fixed;
    width: 100%;
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
}
.header__nav-item {
    position: absolute;
    top: 15px;
}

.header__nav-burger {
    left: 15px;
    top: 13px;
}
.header__nav-search {
    width: 17px;
    left: 45px;
}
.header__nav-option {
    display: none;
}
.header__nav-mobile-logo {
    margin: 0 auto;
    position: relative;
}
.header__nav-desk-logo {
    display: none;
}
.header__nav-mobile-basket {
    right: 45px;
}
.header__nav-mobile-profile {
    right: 15px;
}


/* ---------------------------------------------*/
/* Хедер мобайл оригинал ------------------------------------*/

/* .header {
    width: 100%;
    height: 46px;
    box-shadow: 1px 1px 2px 0px #2E3C5099;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
} */
/* Десктоп -------------------------*/
/* .header__top-block {
    display: none;
}
.header__bottom-block {
    display: none;
} */
/* -------------------------*/
/* .header__mobile {
    display: flex;
}
.header__mobile-item {
    position: absolute;
    top: 15px;
}
.header__mobile-burger {
    left: 15px;
    top: 13px;
}
.header__mobile-search {
    left: 45px;
}
.header__mobile-logo {
    margin: 0 auto;
    margin-top: 15px;
    
}
.header__mobile-basket {
    right: 45px;
}
.header__mobile-profile {
    right: 15px;
} */

/* ---------------------------------------------*/
/* Слайдер ------------------------------------*/

.slider {
    margin-top: 46px;
    height: 293px;
    color: #fff;
}
.slider__back {
    height: 100%;;
    background-image: url('../img/bg-mobile1.png');
    background-size: cover;
}
.slider__front {
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
}
.slider__h1 {
    font-family: 'Lester Deco';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 112px;
}
.slider__h2 {
    font-family: 'Muller Regular';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.05em;
}
.slider__link-btn {
    display: none;
}


/* ---------------------------------------------*/
/* Каталог ------------------------------------*/

.catalog {
    width: 100%;
    height: 100%;
}
.catalog__title {
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
}
.catalog__category-title {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #289648;
    
}

.catalog__table {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px 60px 60px 60px 0px 60px 60px 0px 60px 60px 60px;
    grid-row-gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.catalog__item {
    border-radius: 9px;
    box-shadow: 2px 1px 4px 2px rgba(46, 60, 80, 0.2);
    /* background-image: url('../img/border-bg.svg'); */
    background-size: cover;
    display: flex;
    position: relative;
}

.catalog__item1 {
}
.catalog__item2 {
}
.catalog__item3 {
}
.catalog__item4 {
}
.catalog__item5 {
}
.catalog__item6 {
}
.catalog__item7 {
}
.catalog__item8 {
}

.catalog__item-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 6px 0px 0px 15px;
}
.catalog__item-shortcut {
    display: none;
}
.catalog__item-text {
    width: 60%;
}
.catalog__item-img {
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 6px;
}

.catalog__item-category {
    display: flex;
}
.catalog__item-category-arrow {
    margin-left: 15px;
}
.catalog__item-category-text {
    font-family: 'Atomic Alice';
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.7;
    margin: 5px 0 0 11px;
}
.catalog__item-category-table {
    display: none;
}
.catalog__item-category-item {

}
.catalog__item-category-subtitle {

}
.catalog__item-category-link {

}

/* ---------------------------------------------*/
/* Раздел "Для вас" ------------------------------------*/

.offer {
    width: 100%;
    height: 355px;
}
.offer__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}
.offer__slider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.offer__slider-item {
    width: 204px;
    height: 260px;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    border-radius: 11px;
    position: relative;
}
.offer__slider-img {
}
.offer__slider-description {
    font-family: 'Atomic Alice';
    font-size: 14px;
    line-height: 15px;
    margin: 4px 0px 0px 12px;
}


.offer__slider-rating {
    display: flex;
    margin-left: 10px;
    margin-top: 2.5px;
}

.offer__slider-star {
}

.offer__slider-star-1 {
}
.offer__slider-star-2 {
}
.offer__slider-star-3 {
}
.offer__slider-star-4 {
}
.offer__slider-star-5 {
}
.offer__slider-int-rating {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 9px;
    line-height: 101%;
    margin: 3px 0 0 5px;
}

.offer__slider-price {
    font-size: 24px;
    line-height: 20px;
    margin-left: 12px;
}
.offer__slider-price-valute {
    width: 11px;
}

.offer__slider-in-basket-btn {
    width: 80px;
    height: 18px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    position: absolute;
    right: 14px;
    bottom: 10px;
}
.offer__slider-in-basket-btn-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.offer__slider-favorite-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    
}


.offer__slider-btn-back {
    position: absolute;
    left: 42px;
    top: 128px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.offer__slider-btn-forward {
    position: absolute;
    right: 42px;
    top: 128px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Раздел "Новое" ------------------------------------*/

.newest {
    width: 100%;
    height: 355px;
}
.newest__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}
.newest__slider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.newest__slider-item {
    width: 204px;
    height: 260px;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    border-radius: 11px;
    position: relative;
}
.newest__slider-img {
}
.newest__slider-description {
    font-family: 'Atomic Alice';
    font-size: 14px;
    line-height: 15px;
    margin: 4px 0px 0px 12px;
}


.newest__slider-rating {
    display: flex;
    margin-left: 10px;
    margin-top: 2.5px;
}

.newest__slider-star {
}

.newest__slider-star-1 {
}
.newest__slider-star-2 {
}
.newest__slider-star-3 {
}
.newest__slider-star-4 {
}
.newest__slider-star-5 {
}
.newest__slider-int-rating {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 9px;
    line-height: 101%;
    margin: 3px 0 0 5px;
}

.newest__slider-price {
    font-size: 24px;
    line-height: 20px;
    margin-left: 12px;
}
.newest__slider-price-valute {
    width: 11px;
}

.newest__slider-in-basket-btn {
    width: 80px;
    height: 18px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    position: absolute;
    right: 14px;
    bottom: 10px;
}
.newest__slider-in-basket-btn-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.newest__slider-favorite-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    
}


.newest__slider-btn-back {
    position: absolute;
    left: 42px;
    top: 128px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.newest__slider-btn-forward {
    position: absolute;
    right: 42px;
    top: 128px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Раздел "Акции"------------------------------*/

.promotion {
    width: 100%;
    height: 355px;
}

.promotion__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}
.promotion__slider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.promotion__slider-item {
    width: 204px;
    height: 260px;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    border-radius: 11px;
    position: relative;
}
.promotion__slider-img {
}
.promotion__slider-description {
    font-family: 'Atomic Alice';
    font-size: 14px;
    line-height: 15px;
    margin: 4px 0px 0px 12px;
}


.promotion__slider-rating {
    display: flex;
    margin-left: 10px;
    margin-top: 2.5px;
}

.promotion__slider-star {
}

.promotion__slider-star-1 {
}
.promotion__slider-star-2 {
}
.promotion__slider-star-3 {
}
.promotion__slider-star-4 {
}
.promotion__slider-star-5 {
}
.promotion__slider-int-rating {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 9px;
    line-height: 101%;
    margin: 3px 0 0 5px;
}

.promotion__slider-price {
    font-size: 24px;
    line-height: 20px;
    margin-left: 12px;
}
.promotion__slider-price-valute {
    width: 11px;
}

.promotion__slider-in-basket-btn {
    width: 80px;
    height: 18px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    position: absolute;
    right: 14px;
    bottom: 10px;
}
.promotion__slider-in-basket-btn-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.promotion__slider-favorite-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    
}


.promotion__slider-btn-back {
    position: absolute;
    left: 42px;
    top: 128px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.promotion__slider-btn-forward {
    position: absolute;
    right: 42px;
    top: 128px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Конец страницы ------------------------------------*/

.end {
    background-image: url('../img/bg-end-mobile.png');
    background-position: bottom;
    background-size: auto;
    height: 3200px;
}

/* ---------------------------------------------*/
/* О нас ------------------------------------*/

.about {
    margin: 33px;
}
.about__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
}
.about__sub-title {
    font-family: 'Atomic Alice';
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: justify;
    font-feature-settings: 'liga' off;
    margin: 10px 0;
}
.about__content {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-align: justify;
    font-feature-settings: 'liga' off;
    padding-bottom: 15px;
}
.about__read-more-link {
    display: block;
    font-family: 'Atomic Alice';
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: underline;
    font-feature-settings: 'liga' off;
    color: #706F6F;
}











