@font-face {
    font-family: 'Affect';
    src: url('../fonts/Affect.eot');
    src: url('../fonts/Affect.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Affect.woff') format('woff'),
    url('../fonts/Affect.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lester Deco';
    src: url('../fonts/Lester Deco.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/ofont.ru_Muller.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Light.eot');
    src: local('Atomic Alice Light'), local('AtomicAlice-Light'),
        url('../fonts/AtomicAlice-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Light.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Light.woff') format('woff'),
        url('../fonts/AtomicAlice-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Regular.eot');
    src: local('Atomic Alice Regular'), local('AtomicAlice-Regular'),
        url('../fonts/AtomicAlice-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Regular.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Regular.woff') format('woff'),
        url('../fonts/AtomicAlice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Medium.eot');
    src: local('Atomic Alice Medium'), local('AtomicAlice-Medium'),
        url('../fonts/AtomicAlice-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Medium.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Medium.woff') format('woff'),
        url('../fonts/AtomicAlice-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Bold.eot');
    src: local('Atomic Alice Bold'), local('AtomicAlice-Bold'),
        url('../fonts/AtomicAlice-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Bold.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Bold.woff') format('woff'),
        url('../fonts/AtomicAlice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {font-family: 'Affect';}


/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* ---------------------------------------------*/

.container {

}

.header {
    width: 100%;
    height: 46px;
    box-shadow: 1px 1px 2px 0px #2E3C5099;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.header__top-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}
.header__top-contacts {
    display: none;
}

.header__top-menu {
    display: none;
}




.header__bottom-block {
    width: 100%;
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
}
.header__nav-item {
    display: flex;
    margin-top: 12px;
}

.header__nav-burger {
    margin-left: 15px;
}
.header__nav-search {
    margin-left: 20px;
    width: 18px;
    margin-top: 2px;
}
.header__nav-option {
    display: none;
}
.header__nav-mobile-logo {
    margin: 0 auto;
    position: relative;
    margin-top: 12px;
}
.header__nav-desk-logo {
    display: none;
}
.header__nav-mobile-basket {
    margin-right: 20px;
}
.header__nav-mobile-profile {
    margin-right: 20px;
}


/* ---------------------------------------------*/


/* ---------------------------------------------*/
/* Слайдер ------------------------------------*/

.head-slider {
    height: 360px;
    color: #fff;
    border-radius: 14px;
    width: 94%;
    margin: 0 auto;
    margin-top: 50px;
}
.head-slider__back {
    height: 100%;;
    background-image: url('../img/bg-mobile1.png');
    background-size: cover;
    border-radius: inherit;
}
.head-slider__front {
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
    border-radius: inherit;
}
.head-slider__h1 {
    font-family: 'Lester Deco';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 112px;
}
.head-slider__h2 {
    font-family: 'Muller Regular';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.05em;
}
.head-slider__link-btn {
    display: block;
    width: 103px;
    height: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
    color: #fff;
    font-family: Affect;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    margin-top: 130px;
}

/* ---------------------------------------------*/
/* Каталог ------------------------------------*/

.catalog {
    width: 100%;
    height: 100%;
}
.catalog__title {
    font-family: Montserrat;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
}
.catalog__category-title {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #289648;
    
}

.catalog__table {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px 60px 60px 60px 0px 60px 60px 0px 60px 60px 60px;
    grid-row-gap: 30px;
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}
.catalog__item {
    border-radius: 9px;
    box-shadow: 2px 1px 4px 2px rgba(46, 60, 80, 0.2);
    /* background-image: url('../img/border-bg.svg'); */
    background-size: cover;
    display: flex;
    position: relative;
}


.catalog__item-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 6px 0px 0px 15px;
    display: flex;
}
.catalog__item-shortcut {
    display: none;
}
.catalog__item-text {
    width: 60%;
}
.catalog__item-img {
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 6px;
}
.catalog__item-img-8 {
    display: none;
}

.catalog__item-category {
    display: flex;
}
.catalog__item-category-arrow {
    margin-left: 15px;
}
.catalog__item-category-text {
    font-family: 'Atomic Alice';
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.7;
    margin: 5px 0 0 11px;
}
.catalog__item-category-table {
    display: none;
}
.catalog__item-category-item {

}
.catalog__item-category-subtitle {

}
.catalog__item-category-link {

}

/* ---------------------------------------------*/
/* Раздел "Для вас" ------------------------------------*/

.offer {
    width: 100%;
    height: 355px;
}
.offer__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}


.product-slider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.product-slider-item {
    width: 204px;
    height: 260px;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    border-radius: 11px;
    position: relative;
}
.product-slider-img {
}
.product-slider-description {
    font-family: 'Atomic Alice';
    font-size: 14px;
    line-height: 15px;
    margin: 4px 0px 0px 12px;
}


.product-slider-rating {
    display: none; /* flex */
    margin-left: 10px;
    margin-top: 2.5px;
}

.product-slider__rating-stars-bar {
    width: 66px;
    height: 12px;
    position: relative;
}
.product-slider__rating-stars-bar-0 {
    background-image: url('/img/star-0.svg');
    background-size: 13px;
    height: 100%;
    width: 100%;
}
.product-slider__rating-stars-bar-1 {
    background-image: url('/img/star-1.svg');
    background-size: 13px;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.product-slider-int-rating {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 9px;
    line-height: 101%;
    margin: 3px 0 0 5px;
}

.product-slider-price {
    font-size: 24px;
    line-height: 20px;
    margin-left: 12px;
    margin-top: 16px;
}
.product-slider-price-valute {
    width: 11px;
}

.product-slider-in-basket-btn {
    width: 80px;
    height: 18px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    position: absolute;
    right: 14px;
    bottom: 10px;
}
.product-slider-in-basket-btn-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.product-slider-favorite-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    
}


.product-slider-btn-back {
    position: absolute;
    left: 42px;
    top: 128px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.product-slider-btn-forward {
    position: absolute;
    right: 42px;
    top: 128px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Раздел "Новое" ------------------------------------*/

.newest {
    width: 100%;
    height: 355px;
}
.newest__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}

/* ---------------------------------------------*/
/* Раздел "Акции"------------------------------*/

.promotion {
    width: 100%;
    height: 355px;
}

.promotion__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}


/* ---------------------------------------------*/
/* Конец страницы ------------------------------------*/

.end {
    background-image: url('../img/bg-end-mobile.png');
    background-position: bottom;
    background-size: cover;
    height: 3200px;
}

/* ---------------------------------------------*/
/* О нас ------------------------------------*/

.about {
    display: none;
    width: 80%;
    margin: 0 auto;
}
.about__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
}
.about__sub-title {
    font-family: 'Atomic Alice';
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: justify;
    font-feature-settings: 'liga' off;
    margin: 10px 0;
}
.about__content {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-align: justify;
    font-feature-settings: 'liga' off;
    padding-bottom: 15px;
}
.about__stamps {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.about__read-more-link {
    display: block;
    font-family: 'Atomic Alice';
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: underline;
    font-feature-settings: 'liga' off;
    color: #706F6F;
}

/* ---------------------------------------------*/
/* Преимущества ------------------------------------*/

.features {
    color: #fff;
}
.features__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
}
.features__table {
    display: grid;
}
.features__item {
}
.features__item-img {
    margin: 0 auto;
}
.features__item-description {
    font-family: 'Atomic Alice';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'case' on, 'cpsp' on;
}

/* ---------------------------------------------*/
/* Подвал ------------------------------------*/


.footer {
    background: #212121;

}

.footer__table {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 60px 30px 50px 30px;
}

.footer__info {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
}
.footer__info-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__info-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__info-content {
    display: none;
}
.footer__link {
}

.footer__service {
    grid-column: 1/3;
    grid-row: 2/3;
    position: relative;
}
.footer__service-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__service-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__service-content {
    display: none;
}

.footer__personal {
    grid-column: 1/3;
    grid-row: 3/4;
    position: relative;
}
.footer__personal-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
    border-bottom: 0.5px solid #EA8D2F;
    margin-bottom: 11px;
}
.footer__personal-spoiler {
    position: absolute;
    right: 0px;
    top: -2px;
}
.footer__personal-content {
    display: none;
}

.footer__contacts {
    grid-column: 1/2;
    grid-row: 4/5;
    
}
.footer__contacts-title {
    font-family: 'Atomic Alice';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
}
.footer__contacts-container {
    display: flex;
}
.footer__contacts-phone {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}
.footer__text-cut-mobile {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin: 0 6px;
}   
.footer__contacts-email {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
}

.footer__opening-time {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
}
.footer__opening-time-title {
    font-family: 'Atomic Alice';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #EF861C;
}

.footer__opening-time-text {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #FFFFFF;
}

.footer__social-media {
    grid-column: 1/3;
    grid-row: 6/7;
}
.footer__social-media-title {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'case' on, 'cpsp' on;

    color: #EF861C;
    margin-bottom: 3px;
}
.footer__social-media-youtube {
    
}
.footer__social-media-instagram {
}
.footer__social-media-vk {
}
.footer__social-media-copyright {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #6D6D6D;
}

.footer__logo {
    grid-column: 2/3;
    grid-row: 4/7;
    margin-top: 6px;
}




@media screen and (min-width: 400px) and (max-width: 767px) {
    


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    


}

@media (min-width: 1024px)  {
    /* and (max-width: 1400px) */
    .header {
        width: 100%;
        height: 82px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: fixed;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(46, 60, 80, 0.6); 
    }
    
    .header__top-block {
        display: flex;
        width: 93%;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        margin-top: 25px;
    }
    .header__top-contacts {
        display: flex;
    }
    .header__top-contacts p {
        margin: 0 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .header__top-menu {
        display: flex;
        width: 120px;
    }
    .header__top-menu-btn {
        border: none;
        background-color: #fff;
        display: flex;
        width: 40px;
    }
    
    .header__bottom-block {
        width: 88%;
        margin: 0 auto;
    }
    .header__nav-list {
        display: flex;
        justify-content: space-between;
    }
    .header__nav-item {
        position: relative;
        top: 35px;
    }
    .header__nav-option {
        display: block;
    }
    .header__nav-search {
        left: 0px;
        top: 48px;
    }
    .header__nav-desk-logo {
        display: block;
        margin-top: 10px;
    }
    
    /* Мобильные части */
    .header__nav-burger {
        display: none;
    }
    .header__nav-mobile-logo {
        display: none;
    }
    .header__nav-mobile-basket {
        display: none;
    }
    .header__nav-mobile-profile {
        display: none;
    }

    /* -=-=-=-==-===-=---==-==-=---=-=--==--=-=-=--=-=--=- */

    .head-slider {
        height: 758px;
        color: #fff;
        border-radius: 15px;
        width: 96%;
        margin: 0 auto;
        margin-top: 102px;
    }
    .head-slider__h1 {
        font-family: 'Lester Deco';
        font-size: 96px;
        line-height: 105px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 220px;
    }
    .head-slider__h2 {
        font-family: MullerRegular;
        font-size: 70px;
        line-height: 82px;
        text-align: center;
        letter-spacing: -0.05em;
    }
    .head-slider__link-btn {
        display: block;
        width: 220px;
        height: 29px;
        border: 1px solid #fff;
        border-radius: 9px;
        background-color: rgb(0 0 0 / 0%);
        color: #fff;
        text-align: center;
        margin: 210px auto 0 auto;
        padding-top: 4px;
    }


    /*-0-0---0-0--0-0--0--0-0-0-0-0--0---*/

    .catalog__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        text-shadow: 3px 4px 4px rgba(46, 60, 80, 0.25);
    }

    .catalog__table {
        display: grid;
        grid-template-columns: 230px 230px 230px 230px;
        grid-template-rows: 57px 57px 57px 57px 57px 57px 57px 57px;
        grid-row-gap: 18px;
        grid-column-gap: 24px;
        width: fit-content;
        margin: 0 auto;
    }

    .catalog__item {
        background-color: #0000000D;
        border: 1.5px solid #3A2F23;
        border-radius: 19px;
        display: block;
    }
    .catalog__item-title {
        margin: 24px 0px 0px 15px;
    }
    .catalog__item-img {
        width: 34%;
    }
    .catalog__item-img-8 {
        display: block;
        width: 120%;
        position: absolute;
        width: 120%;
        left: -27px;
    }

    .catalog__item1 {
        grid-column: 1/3;
        grid-row: 1/4;
    }
    .catalog__item2 {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .catalog__item3 {
        grid-column: 1/2;
        grid-row: 7/9;
        
    }
    .catalog__item4 {
        grid-column: 1/3;
        grid-row: 4/7;
    }
    .catalog__item5 {
        grid-column: 3/4;
        grid-row: 4/9;
    }
    .catalog__item6 {
        grid-column: 2/3;
        grid-row: 7/9;
        
    }
    .catalog__item7 {
        grid-column: 4/5;
        grid-row: 1/5;
        
        
    }
    .catalog__item8 {
        grid-column: 4/5;
        grid-row: 5/9;
    }

    .catalog__item-shortcut {
        display: block;
    }
    .catalog__item-category {
        display: flex;
    }
    .catalog__item-category-arrow {
        margin-left: 15px;
    }
    
    .catalog__item-category-table {
        display: flex;
    }
    .catalog__item-category-item {
        margin-left: 15px;
    
    }
    .catalog__item-category-subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 183%;
        text-decoration-line: underline;
        margin-top: 5px;
    }
    .catalog__item-category-link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 172%;
        white-space: nowrap;
    }

    /* мобильные части -----------*/

    .catalog__item-category-arrow {
        display: none;
    }
    .catalog__category-title {
        display: none;
    }
    .catalog__item-category-text {
        display: none;
    }






    .about {
        display: block;
    }
}