@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Light.eot');
    src: local('Atomic Alice Light'), local('AtomicAlice-Light'),
        url('../fonts/AtomicAlice-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Light.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Light.woff') format('woff'),
        url('../fonts/AtomicAlice-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Regular.eot');
    src: local('Atomic Alice Regular'), local('AtomicAlice-Regular'),
        url('../fonts/AtomicAlice-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Regular.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Regular.woff') format('woff'),
        url('../fonts/AtomicAlice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Medium.eot');
    src: local('Atomic Alice Medium'), local('AtomicAlice-Medium'),
        url('../fonts/AtomicAlice-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Medium.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Medium.woff') format('woff'),
        url('../fonts/AtomicAlice-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Atomic Alice';
    src: url('../fonts/AtomicAlice-Bold.eot');
    src: local('Atomic Alice Bold'), local('AtomicAlice-Bold'),
        url('../fonts/AtomicAlice-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AtomicAlice-Bold.woff2') format('woff2'),
        url('../fonts/AtomicAlice-Bold.woff') format('woff'),
        url('../fonts/AtomicAlice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Affect';
    src: url('../fonts/Affect.eot');
    src: url('../fonts/Affect.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Affect.woff') format('woff'),
    url('../fonts/Affect.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Atomic Alice';
    font-style: normal;
    font-weight: 400;
}

/* ---------------------------------------------*/
/* Путь самурая ------------------------------------*/

.page-path {
    margin-top: 67px;
    margin-bottom: 24px;
    text-align: center;
}
.page-path__link {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0em;
}
.page-path__divider {
}

/* ---------------------------------------------*/
/* Галлерея ------------------------------------*/

.gallery {
    width: 310px;
    height: 255px;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.gallery__main-preview {
    width: 255px;
    height: 255px;
}
.gallery__sub-preview {
    width: 50px;
    height: 200px;
    margin-top: 100px;
}
.gallery__sub-preview-item {

}
.gallery__favorite-icon {
    position: absolute;
    right: 8px;
}
.gallery__promo-icon {
    position: absolute;
    top: 12px;
    right: 50px;
}

/* ---------------------------------------------*/
/* Большой блок с информацией о продукте ------------------------------------*/

.product-info {
    width:310px;
    margin: 0 auto;
    margin-top: 35px;
}   
.product-info__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.product-info__weight {
    font-family: Affect;
    font-style: normal;
    font-weight: 400;
    display: flex;
    position: relative;
}
.product-info__weight-option {
    font-family: Affect;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0em;
    text-decoration-line: underline;
    margin: 7px 7.5px 10px 7.5px;
}
.product-info__weight-option-selected {
    width: 66px;
    height: 22px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0em;
    border: 1.5px solid #289648;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 7px 5px 10px 5px;
    text-align: center;
}
.product-info__food-category-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}


.product-info__rating {
    display: flex;
    justify-content: space-between;
    width: 310px;
}
.product-info__rating-stars {
    display: flex;
}
.product-info__rating-star-1 {
}
.product-info__rating-star-2 {
}
.product-info__rating-star-3 {
}
.product-info__rating-star-4 {
}
.product-info__rating-star-5 {
}
.product-info__rating-stars-int {
    font-weight: 500;
    font-size: 12px;
    line-height: 101%;
    margin: 3px;
    opacity: 0.8;
}

.product-info__reviews {
    display: flex;
}
.product-info__reviews-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 101%;
    border-bottom: 1px solid #EA8D2F;
    color: #EA8D2F;
    opacity: 0.8;
    
}
.product-info__reviews-volume {
    font-weight: 600;
    font-size: 13px;
    line-height: 101%;
    opacity: 0.8;
    margin: 2px;
}


.product-info__availability {
    font-weight: 600;
    font-size: 10px;
    line-height: 101%;
    color: #289648;
    opacity: 0.8;
    margin-top: 25px;
}


.product-info__purchase {
    display: flex;
    justify-content: space-between;
}
.product-info__purchase-price {
    display: flex;
    margin-top: 2px;
    
}
.product-info__purchase-price-value {
    font-family: Affect;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
    color: #FDB01A;
}
.product-info__purchase-price-valute {
    margin: 3px 0px 0px 10px;
}
.product-info__purchase-busket-btn {
    width: 140px;
    height: 28px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 14px;
    font-family: Affect;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

/* ---------------------------------------------*/
/*  ------------------------------------*/

.product-info__detal {
    font-weight: 600;
    font-size: 11px;
    line-height: 101%;
    color: #FDB01A;
    display: flex;
}
.product-info__detal-text {
    margin: 15px 5px 15px 0px
}
.product-info__description {
    font-size: 14.5px;
    line-height: 101%;
}

/* ---------------------------------------------*/
/* Таблица с колориями ------------------------------------*/

.product-info__calorie-table {
}
.product-info__with-disc {
}

/* ---------------------------------------------*/
/* Инфо состав ------------------------------------*/

.product-info__composition {
}
.product-info__composition-title {
}
.product-info__composition-content {
}

/* ---------------------------------------------*/
/* Инфо штампы ------------------------------------*/

.product-info__stamps {
}

/* ---------------------------------------------*/
/* Инфо температура хранения ------------------------------------*/

.product-info__temperature {
}
.product-info__temperature-title {
}
.product-info__temperature-storage {
}
.product-info__temperature-storage-when-closed {
}
.product-info__temperature-info {
}
.product-info__temperature-when-opened {
}

/* ---------------------------------------------*/
/* хрен-его-знает-кнопки ------------------------------------*/

.idk-btns {
}
.idk-btns__block {
}
.idk-btns__item {
}
.idk-btns__item-icon {
}
.idk-btns__item-btn {
}

/* ---------------------------------------------*/
/* Разогрев ------------------------------------*/

.preheat {
    width: 310px;
    margin: 0 auto;
}
.preheat__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 101%;
    margin: 48px 0px 28px 0px;
}
.preheat__sub-title {
    display: flex;
    align-items: baseline;
}
.preheat__sub-title-icon {
}
.preheat__sub-title-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 101%;
    margin-left: 5px;
}
.preheat__content {
    margin-top: 10px;
}
.preheat__content-box {
    display: flex;
}
.preheat__content-number {
    font-size: 14px;
    line-height: 101%;
    padding-right: 5px;
}
.preheat__content-text {
    font-size: 14px;
    line-height: 101%;
}
.preheat__content-time {
    font-weight: 600;
    font-size: 12px;
    line-height: 101%;
    color: #289648;
    margin: 5px 0px 5px 15px;
}
.preheat__alert {
    display: flex;
    
}
.preheat__alert b {
    font-size: 12px;
    line-height: 108%;
    font-weight: 500;
}
.preheat__alert-icon {
    margin: 5px 10px 0px 0px;

}
.preheat__alert-text {
    font-size: 12px;
    line-height: 108%;
    margin: 70px 0px 10px 0px;
}

.preheat__content-link {
    font-size: 14px;
    line-height: 126%;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    margin-left: 15px;
}

/* ---------------------------------------------*/
/* Похожие товары ------------------------------------*/

.similar {
    width: 100%;
    height: 355px;
}
.similar__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}

/* ---------------------------------------------*/
/* С этим берут ------------------------------------*/

.together {
    width: 100%;
    height: 300px;
}
.together__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    margin-top: 40px;
}

/* ---------------------------------------------*/
/* Слайдер ------------------------------------*/

.product-slider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.product-slider-item {
    width: 204px;
    height: 260px;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px 2px rgba(46, 60, 80, 0.4);
    border-radius: 11px;
    position: relative;
}
.product-slider-img {
}
.product-slider-description {
    font-family: 'Atomic Alice';
    font-size: 14px;
    line-height: 15px;
    margin: 4px 0px 0px 12px;
}


.product-slider-rating {
    display: flex;
    margin-left: 10px;
    margin-top: 2.5px;
}

.product-slider-star {
}

.product-slider-star-1 {
}
.product-slider-star-2 {
}
.product-slider-star-3 {
}
.product-slider-star-4 {
}
.product-slider-star-5 {
}
.product-slider-int-rating {
    font-family: 'Atomic Alice';
    font-weight: 500;
    font-size: 9px;
    line-height: 101%;
    margin: 3px 0 0 5px;
}

.product-slider-price {
    font-size: 24px;
    line-height: 20px;
    margin-left: 12px;
}
.product-slider-price-valute {
    width: 11px;
}

.product-slider-in-basket-btn {
    width: 80px;
    height: 18px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 21px;
    position: absolute;
    right: 14px;
    bottom: 10px;
}
.product-slider-in-basket-btn-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.product-slider-favorite-icon {
    position: absolute;
    top: 11px;
    right: 10px;
    
}


.product-slider-btn-back {
    position: absolute;
    left: 42px;
    top: 128px;
    
    height: 12px;
    transform: rotate(0.5turn);
    display: none;
}
.product-slider-btn-forward {
    position: absolute;
    right: 42px;
    top: 128px;
    
    height: 12px;
}

/* ---------------------------------------------*/
/* Отзывы ------------------------------------*/
.review {
    background-image: url('/img/end-bg-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #212121;
    height: 364px;
    width: 100%;
    
}
.review__title {
    font-family: Affect;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(46, 60, 80, 0.35);
    padding: 60px 0px 24px 33px;
}
.review__block {
    width: 308px;
    height: 215px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 9px;
    font-family: Montserrat;
}
.review__profile {
    width: 240px;
    padding: 16px 22px 0px 22px;
    display: flex;
}
.review__profile-avatar {
    height: 34px;
    border-radius: 50%;
}
.review__profile-name {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.05em;
    font-feature-settings: 'case' on, 'cpsp' on;
    padding: 3px 0px 2px 8px;
}
.review__profile-time {
    font-size: 9px;
    line-height: 11px;
    font-feature-settings: 'case' on, 'cpsp' on;
    padding-left: 8px;
}
.review__content {
    font-size: 14px;
    line-height: 122%;
    margin: 17px 22px 14px 22px;
}
.review__rating {
    display: flex;
    justify-content: space-between;
}
.review__rating-place-of-order {
    font-size: 9px;
    line-height: 11px;
    font-feature-settings: 'case' on, 'cpsp' on;
    color: #333333;
    margin-left: 22px;
    margin-top: 5px;
}
.review__rating-stars {
    margin-right: 22px;
}
.review__more-btn {
    width: 90px;
    height: 20px;
    background: linear-gradient(0deg, #289648, #289648), #FFFFFF;
    border-radius: 10px;
    font-family: Affect;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}



